{% load i18n static %}
<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'img/logo.png' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.js' %}"></script>
    {% block extrahead %}{% endblock %}

    <title>{% block title %}Base template{% endblock %} - AirPoMS</title>
  </head>
  <body>
    {% block standardcontent %}
    <div class="container">
      <div class="jumbotron">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
          {{message}}
        </div>
        {% endfor %}
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    {% endblock standardcontent %}
  </body>
</html>
