{% extends "base.html" %}{% load i18n static %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-8 text-center vertical-center">
    <img src="{% static 'img/airpoms.png' %}" style="max-width:100%;">
  </div>
  <div class="col-lg-4 vertical-center">
    <div class="container">
      <h3 class="text-bold">{% trans "Login" %}</h3>
      <br>
      <form action="" method="POST">{% csrf_token %}
        {{form.username}}
        <br>
        {{form.password}}
        <br>
        <button class="btn btn-lg btn-block btn-warning" type="submit">
          {% trans "Login" %}
          <i class="fas fa-sign-in-alt float-right pt-1" aria-hidden="true"></i>
        </button>
      </form>
      <br><br>
      <small>Copyright (&copy;) 2018-2019 Rainerum Robotics Group</small>
    </div>
  </div>
</div>
{% endblock %}
