{% extends "airpoms/base.html" %}{% load i18n %}
{% block title %}{% trans "About" %}{% endblock %}
{% block content %}
<div class="page-header">
  <h3><b>{% trans "About AirPoMs" %}</b></h3>
  <h5>Air Pollution Monitoring Software ({% trans "Air Pollution Monitoring Software" %})</h5>
</div>

<br><br>

{% trans "AirPoMS is a WebApp developed by the Rainerum Robotics Group for a project in collaboration" %}
{% trans 'with FBK Junior (Trento) called "Che Aria!" which aims to monitor pollution in urban and suburban areas.' %}
{% trans "It includes tools to process the data collected by the sensors, display them on interactive maps and compare them with each other." %}

<br><br>

<div class="row">
  <div class="col-lg-2 text-right">
    {% trans "Main developer:" %}
  </div>
  <div class="col-lg-4">
    <b>Marco Marinello</b><br>
    <i class="fas fa-envelope" aria-hidden="true"></i>&nbsp;<a target="_blank" href="mailto:marco.marinello@school.rainerum.it">marco.marinello@school.rainerum.it</a><br>
    <i class="fab fa-gitlab" aria-hidden="true"></i>&nbsp;<a target="_blank" href="https://gitlab.com/mmaridev">mmaridev</a><br>
    <i class="fab fa-github" aria-hidden="true"></i>&nbsp;<a target="_blank" href="https://github.com/mmaridev">mmaridev</a><br>
  </div>
  <div class="col-lg-2 text-right">
    {% trans "UI designer:" %}
  </div>
  <div class="col-lg-4">
    <b>Stevan Strauss De Castro</b><br>
    <i class="fas fa-envelope" aria-hidden="true"></i>&nbsp;<a target="_blank" href="mailto:stevan.straussdecastro@school.rainerum.it">stevan.straussdecastro@school.rainerum.it</a><br>
    <i class="fab fa-gitlab" aria-hidden="true"></i>&nbsp;<a target="_blank" href="https://gitlab.com/stevan6087">stevan6087</a><br>
  </div>
</div>
<br><br>
{% trans "The code to run the sensors was adapted and expanded by" %}
<br><br>
<div class="row">
  <div class="col-lg-2 text-right">
    {% trans "Embedded developer:" %}
  </div>
  <div class="col-lg-4">
    <b>Julian Sanin</b><br>
    <i class="fas fa-envelope" aria-hidden="true"></i>&nbsp;<a target="_blank" href="mailto:julian.sanin@rainerum.it">julian.sanin@rainerum.it</a><br>
    <i class="fab fa-gitlab" aria-hidden="true"></i>&nbsp;<a target="_blank" href="https://gitlab.com/j54n1n">j54n1n</a><br>
    <i class="fab fa-github" aria-hidden="true"></i>&nbsp;<a target="_blank" href="https://github.com/j54n1n">j54n1n</a><br>
  </div>
</div>

<br><br>

{% trans "AirPoMS uses:" %}<br>
<ul>
  <li><a href="https://python.org" target="_blank">Python 3</a></li>
  <li><a href="https://www.djangoproject.com" target="_blank">Python Django</a></li>
  <li><a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
  <li><a href="http://jquery.com" target="_blank">jQuery</a></li>
  <li><a href="https://popper.js.org" target="_blank">PopperJS</a></li>
  <li><a href="http://fontawesome.io" target="_blank">Font Awesome</a></li>
  <li><a href="https://datatables.net" target="_blank">DataTables</a></li>
  <li><a href="https://leafletjs.com" target="_blank">Leaflet</a> {% trans "with maps by" %} <a href="http://osm.org" target="_blank">Open Street Map</a></li>
  <li><a href="https://select2.org" target="_blank">Select2</a></li>
  <li><a href="https://www.flotcharts.org" target="_blank">Flot: Attractive JavaScript plotting for jQuery</a></li>
  <li><a href="https://github.com/xuanluo/flot-axislabels" target="_blank">Flot Axislabels by xuanluo</a></li>
  <li>Flags icons by <a href="https://www.iconfinder.com/UniqueDesign10" target="_blank">UniqueDesign10</a> {% trans "and" %} <a href="https://www.iconfinder.com/onesel" target="_blank">onesel</a></li>
</ul>


{% endblock %}
