{% extends "airpoms/base.html" %}{% load i18n static %}
{% block extrahead %}<script type="text/javascript" src="{% static 'js/jquery.flot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flot.axislabels.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flot.time.js' %}"></script>
{% endblock %}
{% block title %}{{object.name}}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-8">
    <div class="page-header">
      <h3>{{object.name}}</h3>
    </div>
  </div>
  <div class="col-lg-4">
    {% if perms.airpoms.add_measurementsession %}
    <a href="{% url 'add-session' pk=object.pk %}" class="btn btn-lg btn-block btn-primary">
      <i class="fas fa-plus-circle" aria-hidden="true"></i>
      {% trans "Create session" %}
    </a>
    {% endif %}
  </div>
</div>
<br>
<div id="graph1" style="height:250px;"></div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>{% trans "Session" %}</th>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Average IAQ" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for m in measurements %}
    <tr>
      <td><i class="fas fa-circle" style="color: {{m.qualitycolor}}"></i></td>
      <td>{{m.session.name}}</td>
      <td>{{m.date}}</td>
      <td>{{m.iaq|floatformat:2}}</td>
      <td><a class="btn btn-lg btn-airpoms" href="{% url 'session' pk=m.session.pk %}">
        <i class="fas fa-arrow-right"></i>
      </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript">
  var dx = [
    {% for m in measurements %}[{{m.jstimestamp|stringformat:"f"}}, {{m.iaq|stringformat:"f"}}], {% endfor %}
  ];
  $.plot("#graph1", [dx], {
    points: {show: true},
    lines: {show: true},
    xaxis: {mode: "time", axisLabel: "{% trans 'Date' %}"},
    yaxis: {axisLabel: "{% trans 'IAQ' %}"}
  });
</script>
{% endblock %}
