{% extends "airpoms/base.html" %}{% load i18n %}
{% block title %}{% trans "Monitored areas" %}{% endblock %}
{% block content %}
<div class="row">
  <div class="page-header col-lg-8">
    <h3>{% trans "List of the monitored areas" %}</h3>
  </div>
  <div class="col-lg-4">
    {% if perms.airpoms.add_monitoredarea %}
    <a href="{% url 'add-monitoredarea' %}" class="btn btn-lg btn-block btn-primary">
      <i class="fas fa-plus-circle" aria-hidden="true"></i>
      {% trans "Add monitored area" %}
    </a>
    {% endif %}
  </div>
</div>
<br>
<table class="table table-striped" id="areas">
  <thead>
    <tr>
      <th></th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Location" %}</th>
      <th>{% trans "Measurements" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for i in object_list %}
    <tr>
      <td>{% if i.latest_iaq %}<i class="fas fa-circle" style="color: {{i.qualitycolor}}"></i>{% endif %}</td>
      <td>{{i.name}}</td>
      <td>{{i.city}} - {{i.city.province}} ({{i.city.province.region.country.code|upper}})</td>
      <td>{{i.measurement_set.all|length}}</td>
      <td>
        <a class="btn btn-lg btn-airpoms" href="{% url 'area' pk=i.pk %}">
          <i class="fas fa-arrow-right"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript">
  $("#areas").DataTable({"order": [[1, "asc"]]});
</script>
{% endblock %}
