{% extends "base.html" %}{% load static %}
{% block standardcontent %}
{% include "airpoms/navbar.html" %}
<div class="container-fluid pr-5 pl-5 mt-navbar">
  <div class="jumbotron mb-0">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
      {{message}}
      <i class="fas fa-times float-right btn" onclick="$(this).parent().slideUp();"></i>
    </div>
    {% endfor %}
    {% block content %}{% endblock content %}
  </div>
</div>
{% endblock standardcontent %}
