{% extends "airpoms/base.html" %}{% load i18n %}
{% block title %}{% trans "Drop selected measurements" %}{% endblock %}
{% block content %}

<h1>{% trans "Really drop the following measurements?" %}</h1>

<br><br>

<form action="" method="POST">
  <ul>
  {% for i in ms %}<li>{{i}} <input type="hidden" name="{{i.pk}}" value="del"></li>{% endfor %}
  </ul>
  <br><br>
  {% csrf_token %}
  <input type="hidden" name="dodelete" value="yes">
  <button type="submit" class="btn btn-lg btn-danger">{% trans "Yes, delete!" %}</button>
</form>

{% endblock %}
