{% extends "airpoms/base.html" %}{% load i18n %}
{% block title %}{% trans "Session edit" %}{% endblock %}
{% block content %}

<h1>{% trans "Editing session" %} {{object.name}}</h1>

<br><br>

<form action="" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit" class="btn btn-lg btn-success">
    <i class="fas fa-save"></i>
    {% trans "Save" %}
  </button>
</form>

{% endblock %}
