{% extends "airpoms/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="col-lg-8">
  <div class="page-header">
    <h3>{{title}}</h3>
  </div>
</div>
<br>

<form action="" method="POST">{% csrf_token %}
  <table class="table">
    <tbody>
      {{form.as_table}}
    </tbody>
  </table>
  <button class="btn btn-lg {{btn}}" role="submit">
    <i class="fas {{fa}}" aria-hidden="true"></i>
    {{submit_text}}
  </button>
</form>

<script type="text/javascript">
  $("select").each(function (i) {
    $(this).addClass("form-control").select2();
  });
  $("input").each(function(i) {
    var type = $(this).attr("type");
    if (type != "checkbox" && type != "file") $(this).addClass("form-control");
  });
</script>
{% endblock %}
