{% extends "airpoms/base.html" %}{% load i18n static %}
{% block extrahead %}<script type="text/javascript" src="{% static 'js/jquery.flot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flot.axislabels.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flot.time.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
{% endblock %}
{% block title %}{% trans "Customized graphs" %}{% endblock %}
{% block content %}

<!-- dot info modal -->
<div class="modal" id="dotinfo" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Point informations" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modalmap"></div>
        <br>
        <div id="modaldata"></div>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="page-header">
  <h3><a class="badge badge-warning color-white" href='{% url "session" pk=object.pk %}'>{{object.name}}</a> (<a class="badge badge-primary" href='{% url "area" pk=object.area.pk %}'>{{object.area}}</a>)</h3>
</div>
<br>
<div id="loading">
  <br><br>
  <h1 class="text-center">
    {% trans "Loading samples..." %} <a id="samplen">0</a> / {{totalsamples}}
  </h1>
  <br>
  <div class="progress" style="background-color: white;">
    <div id="load_pgbar"
         class="progress-bar progress-bar-striped progress-bar-animated bg-info"
         role="progressbar"
         aria-valuenow="0"
         aria-valuemin="0"
         aria-valuemax="100"
         style="width:0%;"></div>
  </div>
  <br>
</div>

<div id="render" style="display:none;">
  <div class="row text-center">
    <div class="col-lg-3">
      {% trans "Abscissae axis" %}: <select id="xaxis"></select>
    </div>
    <div class="col-lg-3">
      {% trans "Ordinate axis" %}: <select id="yaxis"></select>
    </div>
    <div class="col-lg-2">
      <input type="checkbox" id="points" checked> <label for="points">{% trans "Draw points" %}</label>
    </div>
    <div class="col-lg-2">
      <input type="checkbox" id="lines" checked> <label for="lines">{% trans "Draw lines" %}</label>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-lg btn-block btn-primary" id="draw">
        <i class="fas fa-play" aria-hidden="true"></i> &nbsp;
        {% trans "Render" %}
      </button>
    </div>
  </div>
  <div id="graphs"></div>
</div>

<script type="text/javascript">
// compile a DIY translation Array
document._ = {
  "Date": '{% trans "Date" %}',
  {% for p in props %}"{{p.name}}": "{% trans p.name %}",{% endfor %}
}
// the reverse one
document.r_ = {
  '{% trans "Date" %}': "Date",
  {% for p in props %}"{% trans p.name %}": "{{p.name}}",{% endfor %}
}

function set_pgbar(id, pc) {
  var pcc = "" + pc + "%";
  $(id).css("width", pcc).attr("aria-valuenow", pc);
}

function clearMap() {
    for(i in document.map._layers) {
        if(document.map._layers[i]._path != undefined) {
            try {
                document.map.removeLayer(document.map._layers[i]);
            }
            catch(e) {
                console.log("problem with " + e + document.map._layers[i]);
            }
        }
    }
}

function loading_finished() {
  $("#modalmap").height(215);
  document.map = L.map('modalmap').setView([46.49, 11.34], 19);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 22,
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(document.map);
  document.map.invalidateSize();

  $("#loading").slideUp();
  var xaxis = $("#xaxis").html("");
  var yaxis = $("#yaxis").html("");
  for (var p in document.properties) {
    var opt = "<option>" + document._[document.properties[p]] + "</option>";
    xaxis.append(opt);
    yaxis.append(opt);
  }
  $("#render").slideDown();
}

$(document).ready(function () {
  document.parsed_table_data = [];
  document.dataset = [];
  document.properties = [];
  document.graphID = 1;
  $.ajax({
    type: "GET",
    url: "{% url 'session-data' pk=object.pk %}",
    processData: false,
    contentType: false,
    xhrFields: {
      onprogress: function (e) {
        var all = e.currentTarget.response.split("\n");
        for (var i in all) {
          var current = all[i];
          if (!document.parsed_table_data.includes(current) && current != "") {
            var table = JSON.parse(current);
            for (var prop in table) {
              if (!document.properties.includes(prop) && !prop.includes("norender"))
                document.properties.push(prop);
            }
            document.dataset.push(table)
            document.parsed_table_data.push(current);
            $("#samplen").text(document.parsed_table_data.length);
            set_pgbar("#load_pgbar", document.parsed_table_data.length*100/{{totalsamples}});
            if (document.parsed_table_data.length == {{totalsamples}}) loading_finished();
          }
        }
      }
    }
  });
});

$("#draw").click(function () {
  var xaxis = document.r_[$("#xaxis").val()];
  var yaxis = document.r_[$("#yaxis").val()];
  if (xaxis == yaxis) {
    alert("{% trans 'Abscissae and ordinate cannot display the same value.' %}");
    return;
  }
  var xfield = 0, yfield = 0, xmode = null, ymode = null;
  if (xaxis == "Date") {xfield = 2; xmode = "time";}
  if (yaxis == "Date") {yfield = 2; ymode = "time";}
  // create the serie
  var serie = [];
  var firstfactordict = {};
  // now read all the values to find the 2 requested
  for (var line in document.dataset) {
    var current = document.dataset[line];
    serie.push([current[xaxis][xfield], current[yaxis][yfield]]);
    firstfactordict[current[xaxis][xfield]] = current;
  }
  var thisID = "graph" + document.graphID;
  $("#graphs").prepend("<div id='" + thisID + "' style='display:none;'></div><br><br>");
  graph = $("#"+thisID);
  graph.height($(window).height()-215).slideDown(400, function() {
    $.plot("#"+thisID, [{data: serie, ffd: firstfactordict}], {
      points: {show: $("#points").is(":checked")},
      lines: {show: $("#lines").is(":checked")},
      xaxis: {axisLabel: $("#xaxis").val(), mode: xmode},
      yaxis: {axisLabel: $("#yaxis").val(), mode: ymode},
      grid: {hoverable: true, clickable: true}
    });
  }).bind('plotclick', function (event, pos, item) {
    if (item) {
      // this is the current dot
      var obj = item.series.ffd[item.datapoint[0]];
      var dtht = "";
      for (var att in obj) {
        if (!att.includes("norender")) {
          dtht += "<b>" + document._[att] + ":</b> " + obj[att][0] + " " + obj[att][1] + "<br>";
        }
      }
      $("#modaldata").html(dtht);

      clearMap();
      document.map.setView([obj["Latitude"][0], obj["Longitude"][0]], 18);
      L.circle(
        [obj["Latitude"][0], obj["Longitude"][0]],
        {color: obj["qc_norender"], "fillColor": obj["qc_norender"], "fillOpacity": 0.55, radius: 4}
      ).addTo(document.map);

      $("#dotinfo").modal();
      $("#modalmap").height(215);
      document.map.invalidateSize();
    }
  });
});

$("input").each(function(i) {
  var type = $(this).attr("type");
  if (type != "checkbox" && type != "file") $(this).addClass("form-control");
});
</script>

{% endblock %}
