{% extends "airpoms/base.html" %}{% load i18n %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="modal" tabindex="-1" role="dialog" id="pgmodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Importing in progress" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <p id="status"></p>
        <br>
        <div class="progress">
          <div id="pgbar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-lg-8">
  <div class="page-header">
    <h3>{{title}}</h3>
  </div>
</div>
<br>

<form enctype="multipart/form-data" id="form" onsubmit="return false;">{% csrf_token %}
  <table class="table">
    <tbody>
      {{form.as_table}}
    </tbody>
  </table>
  <button class="btn btn-lg {{btn}}" role="button" id="run_import">
    <i class="fas {{fa}}" aria-hidden="true"></i>
    {{submit_text}}
  </button>
</form>

<script type="text/javascript">
  $("select").each(function (i) {
    $(this).addClass("form-control").select2();
  });
  $("input").each(function(i) {
    var type = $(this).attr("type");
    if (type != "checkbox" && type != "file") $(this).addClass("form-control");
  });

  function setPgBar(id, perc) {
    perc = perc.toString() + "%";
    $(id).attr("aria-valuenow", perc).width(perc);
  }


  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
    }
  });

  $("#run_import").click(function () {
    $("#pgmodal").modal();
    var formData = new FormData();
    formData.append("file", $("#id_file")[0].files[0]);
    formData.append("csrfmiddlewaretoken", $("input[name='csrfmiddlewaretoken']").val());
    formData.append("datatype", $("#id_datatype").val());
    formData.append("altitude", $("#id_altitude").is(":checked"));
    $.post({
      url: "{% url 'session-import-ajax' pk=pk %}",
      data: formData,
      processData: false,
      contentType: false,
      cache: false,
      xhrFields: {
        onprogress: function (e) {
          var all = e.currentTarget.response.split("\n");
          if (all.length < 2) return;
          line = all[all.length-2];
          console.log(line);
          if (!line || line == "") return;
          var vals = JSON.parse(line);
          setPgBar("#pgbar", vals["perc"]);
          $("#status").text(vals["status"]);
          if (vals["do_redirect"]) {location.href="{% url 'session' pk=pk %}";}
        }
      }
    });
  });
</script>
{% endblock %}
