{% extends "airpoms/base.html" %}{% load i18n static %}
{% block extrahead %}<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
{% endblock %}
{% block title %}{% trans "Map" %}{% endblock %}
{% block content %}
<div class="page-header">
  <h3>{% trans "Pollution Summary Map" %}</h3>
</div>
<br>
<div id="map"></div>

<script type="text/javascript">
function popupMsg(area, date, avg, link) {
  msg = "<b><a href='" + link + "'>" + area + "</a></b> - ";
  msg += date + "<br>";
  msg += "{% trans 'Latest measurement average IAQ:' %} " + avg + "<br>";
  return msg;
}
$(document).ready(function () {

  var map = L.map('map').setView([46.49, 11.34], 13);

	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 18,
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

  {% for c in areas %}
  L.circle(
    [{{c.latitude|stringformat:"f"}}, {{c.longitude|stringformat:"f"}}], {
      color: "{{c.qualitycolor}}",
      fillColor: "{{c.qualitycolor}}",
      fillOpacity: 0.55,
      radius: 180
    }
  ).addTo(map)
   .bindPopup(popupMsg("{{c.area}}", "{{c.date}}", "{{c.iaq|floatformat:2}}", "{% url 'area' pk=c.area.pk %}"));
  {% endfor %}

  $("#map").height($(window).height()-215);
  map.invalidateSize();
});
</script>

{% endblock %}
