{% load i18n static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-airpoms">
  <a class="navbar-brand nav-link" href="#">
    AirPoMS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'map' %}">
          <i class="far fa-map" aria-hidden="true"></i>&nbsp;
          {% trans "Map" %}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'monitoredareas' %}">
          <i class="fas fa-search-plus" aria-hidden="true"></i>&nbsp;
          {% trans "Monitored areas" %}
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        {% get_current_language as current_lang %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <form id="setlangform" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input type="hidden" id="setlangid" name="language" />
        </form>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{% static 'flags/' %}{{ current_lang }}.png" style="max-height: 26px;">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for l in languages %}
            <a class="dropdown-item" href="#" onclick="$('#setlangid').val('{{l.code}}'); $('#setlangform').submit();"><img src="{% static 'flags/' %}{{ l.code }}.png" style="max-height: 26px;"> {{l.name_local}}</a>
            {% endfor %}
          </div>
        </div>
      </li>
      {% if user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin:index' %}">
          <i class="fas fa-hammer" aria-hidden="true"></i>&nbsp;
          {% trans "Backend" %}
        </a>
      </li>
      {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about' %}">
          <i class="fas fa-info-circle" aria-hidden="true"></i>&nbsp;
          {% trans "About" %}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp;
          {% trans "Logout" %}
        </a>
      </li>
    </ul>
  </div>
</nav>
