{% extends "airpoms/base.html" %}{% load i18n static querysets %}
{% block extrahead %}<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flot.axislabels.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flot.time.js' %}"></script>
{% endblock %}
{% block title %}{{object.name}}{% endblock %}
{% block content %}

<!-- legend modal -->
<div class="modal" id="legend" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Legend" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="text-align: center;">{% trans "Color" %}</th>
              <th style="text-align: center;">{% trans "IAQ" %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center;"><i class="fas fa-circle" style="color: #219807;" aria-hidden="true"></i></td>
              <td> &le; 50 </td>
            </tr>
            <tr>
              <td style="text-align: center;"><i class="fas fa-circle" style="color: #B0D502;" aria-hidden="true"></i></td>
              <td> 50 &lt; x &le; 100 </td>
            </tr>
            <tr>
              <td style="text-align: center;"><i class="fas fa-circle" style="color: #FCE202;" aria-hidden="true"></i></td>
              <td> 100 &lt; x &le; 150 </td>
            </tr>
            <tr>
              <td style="text-align: center;"><i class="fas fa-circle" style="color: #FB8801;" aria-hidden="true"></i></td>
              <td> 150 &lt; x &le; 200 </td>
            </tr>
            <tr>
              <td style="text-align: center;"><i class="fas fa-circle" style="color: #CA0C73;" aria-hidden="true"></i></td>
              <td> 200 &lt; x &le; 300 </td>
            </tr>
            <tr>
              <td style="text-align: center;"><i class="fas fa-circle" style="color: #5B0187;" aria-hidden="true"></i></td>
              <td> &gt; 300 </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="row">
<div class="page-header col-lg-10">
  <h3>{{object.name}} (<a href='{% url "area" pk=object.area.pk %}' class="badge badge-primary">{{object.area}}</a>)</h3>
  {{object.notes|default:""}}
</div>
<div class="col-lg-2" style="text-align:right;">
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#legend">
    <i class="fas fa-sticky-note" aria-hidden="true"></i>
    {% trans "Legend" %}
  </button>
</div>
</div>

<br>

<div class="row">
  <div class="col-lg-12">
    <div id="map"></div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-2">
    <a href='{% url "session-edit" pk=object.pk %}' class="btn btn-lg btn-block btn-info">
      <i class="fas fa-edit" aria-hidden="true"></i>
      {% trans "Edit" %}
    </a>
  </div>
  <div class="col-lg-2">
    {% if perms.airpoms.add_measurement %}
    <a href='{% url "session-import-data" pk=object.pk %}' class="btn btn-lg btn-block btn-warning">
      <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
      {% trans "Import" %}
    </a>
    {% endif %}
  </div>
  <div class="col-lg-2">
    <a href='{% url "session-graphs" pk=object.pk %}' class="btn btn-lg btn-block btn-primary">
      <i class="fas fa-chart-bar" aria-hidden="true"></i>
      {% trans "Graphs" %}
    </a>
  </div>
  <div class="col-lg-3">
    {% if perms.airpoms.delete_measurementvalue %}
    <a href='{% url "session-drop-altitude" pk=object.pk %}' class="btn btn-lg btn-block btn-danger">
      <i class="fas fa-trash" aria-hidden="true"></i>
      {% trans "Drop altitude data" %}
    </a>
    {% endif %}
  </div>
  <div class="col-lg-2">
    {% if perms.airpoms.delete_measurementvalue %}
    <a href='' id="do_drop_selected" class="btn btn-lg btn-block btn-danger" onclick="return false;">
      <i class="fas fa-trash" aria-hidden="true"></i>
      {% trans "Drop selected" %}
    </a>
    {% endif %}
  </div>
</div>
<br>
<form action="" method="POST" id="tabform">
<table class="table" id="measurements_table">
  <thead>
    <tr>
      <th>
        <input type="checkbox" id="checkall">
      </th>
      <th>{% trans "Date" %}</th>
      {% for i in object.measurement_set.all.0.measurementvalue_set.all %}
      <th>{% trans i.property.name %}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody id="measurements_tbody">
  </tbody>
</table>
{% csrf_token %}
</form>

<script type="text/javascript">
$(document).ready(function () {
  document.map = L.map('map').setView([{{object.lat_center|stringformat:"f"|default:"46"}}, {{object.long_center|stringformat:"f"|default:"11"}}], 16);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 22,
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(document.map);

  $("#map").height($(window).height()-215);
  document.map.invalidateSize();
  // compile a DIY translation Array
  document._ = {
    {% for i in object.measurement_set.all.0.measurementvalue_set.all %}"{{i.property.name}}": "{% trans i.property.name %}",{% endfor %}
  }
  document.parsed_table_data = [];
  document.analyzed_values = ["IAQ"];
  document.dataset = {};
  for (i in document.analyzed_values) document.dataset[document.analyzed_values[i]] = {label: document.analyzed_values[i], data: []};
  document.last_altitude = 20+{{object.maxaltitude|stringformat:"f"|default:"0"}};

  $.ajax({
    type: "GET",
    url: "{% url 'session-data' pk=object.pk %}",
    processData: false,
    contentType: false,
    xhrFields: {
      onprogress: function (e) {
        var all = e.currentTarget.response.split("\n");
        for (var i in all) {
          var current = all[i];
          if (!document.parsed_table_data.includes(current) && current != "") {
            var table = JSON.parse(current);
            var popupText = "";
            $("#measurements_tbody").append("<tr>");
            $("#measurements_tbody").append("<td><input type='checkbox' name='"+table["id_norender"]+"'></td>");
            for (var att in table) {
              if (!att.includes("norender")) {
                $("#measurements_tbody").append("<td>" + table[att][0] + " " + table[att][1] +"</td>");
                if (att == "Date") popupText += table[att][0] + "<br>";
                else popupText += "<b>" + document._[att] + ":</b> " + table[att][0] + " " + table[att][1] + "<br>";
              }
            }
            $("#measurements_tbody").append("</tr>");
            if ("Altitude" in table) {
              var alt = 10+{{object.maxaltitude|stringformat:"f"}}-table["Altitude"][0];
              if (alt < document.last_altitude) {
                L.circle(
                  [table["Latitude"][0], table["Longitude"][0]],
                  {"color": table["qc_norender"], "fillColor": table["qc_norender"], "fillOpacity": 0.55, "radius": alt}
                ).addTo(document.map).bindPopup(popupText);
                document.last_altitude = alt;
              }
            }
            else {
              L.circle(
                [table["Latitude"][0], table["Longitude"][0]],
                {"color": table["qc_norender"], "fillColor": table["qc_norender"], "fillOpacity": 0.55, "radius": 10}
              ).addTo(document.map).bindPopup(popupText);
            }
            // push current to the history
            document.parsed_table_data.push(all[i]);
          }
        }
      }
    }
  });
});

$("#do_drop_selected").click(function () {
  $("#tabform").attr("action", "{% url "session-drop-selected" pk=object.pk %}");
  $("#tabform").submit();
});

$("#checkall").click(function() {
  $('input:checkbox').prop('checked', this.checked);
});

</script>

{% endblock %}
