.vertical-center {
  min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  text-align: center;
}

.text-bold {font-weight: bold;}
.form-control {text-align: center;}

.bg-airpoms {background-color: #00aeef;}

.nav-link {color: white !important;}

.navbar-brand {padding: 0px;}
.navbar-brand>img {
  max-height: 50px;
  padding: 15px; /* firefox bug fix */
  max-width:100px;
  margin-top: -7px;
}

.mt-navbar {margin-top: 10px;}

.btn-airpoms {background-color: #00aeef; color: #fff; border-color: #00aeef;}

.color-white {color:white;}
